.screen {
  height: auto;
  width: 100%;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
}

.navbar_title {
  font-size: 18px;
  /* border: 1px solid #ccc; */
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.navbar_item {
  height: 100%;
  width: 350px;
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 68%;
}

.SN {
  height: 30px;
  width: 160px;
  border: none;
  border-radius: 4px;
  background-color: #28313b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.SN button {
  border: none;
  background-color: #28313b;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.Save {
  height: 30px;
  width: 160px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Save button {
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.body {
  width: 100%;
  height: 844px;
  display: flex;
  border: 1px solid #ccc;
}

.leftB {
  width: 100%;
  height: 844px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
}




.head {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.head span {
  margin-left: 10px;
}

.imgs {
  height: 100px;
  width: 100%;
  /* border: 1px solid rgb(195, 0, 0); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #a2a4a5
}


.imgs span {
  margin-left: 5px;
}

.imgBox {
  display: flex;
}

.putimg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 240, 250);
  height: 50px;
  width: 50px;
  /* border: 1px solid rgb(195, 0, 0); */
  margin-left: 10px;

}

.putimg img {
  width: 20px;
  cursor: pointer;
}


.type {
  display: flex;
  align-items: center;
  height: 40px;
  width: 200px;
  /* border : 1px solid #ccc; */
  justify-content: space-between;
}


.itemType {
  height: 80px;
  /* width: ; */
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: #a2a4a5
}

.itemType span {
  margin-left: 4px;
}

.Idetail {
  height: 80px;
  /* border : 1px solid #ccc; */
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* margin-left: 5%; */
  margin-top: 40px;
}

.detail {
  height: 70%;
  width: 300px;
  margin-left: 10px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5
}

.detail input {
  height: 40px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.detail select {
  height: 40px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.code {
  height: 80px;
  /* border : 1px solid #ccc; */
  width: 80%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin-top: 40px;
  /* margin-left: 5px; */
}



.Bdetail {
  height: 37px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  margin-left: 10px;
  color: #a2a4a5
}

.desc {
  height: 80px;
  /* border : 1px solid #ccc; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  margin-left: 10px;
  margin-top: 40px;
  color: #a2a4a5
}


.desc input {
  height: 60px;
  width: 531px;
  border: 1px solid #ccc;
}

.rightB {
  width: 100%;
  height: 844px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
}

.unit {
  height: 60px;
  width: 100%;
  display: flex;
  /* border: 1px solid #ccc; */
  align-items: center;
  margin-top: 15px;
}

.Munit {
  height: 100%;
  width: 300px;
  margin-left: 20px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5
}

.Munit select {
  height: 40px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Aunit {
  margin-top: 15px;
  height: 30px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ccc; */
}

.Aunit span {
  color: #84bcf3;
  font-size: 14px;
}



.Sunit {
  height: 60px;
  width: 100%;
  display: flex;
  /* border: 1px solid #ccc; */
  align-items: center;

  margin-top: 30px;
}


.SU {
  height: 100%;
  width: 300px;
  margin-left: 20px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5;
  
}

.SU select {
  height: 40px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.CR {
  height: 100%;
  width: 300px;
  margin-left: 60px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5
}

.CR input {
  height: 60px;
  border: 1px solid #ccc;
}


.OS {
  height: 60px;
  width: 100%;
  display: flex;
  /* border: 1px solid #ccc; */
  align-items: center;
  margin-top: 15px;
  margin-top: 30px;
}

.Ostock {
  height: 100%;
  width: 300px;
  margin-left: 20px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5
}


.Ostock input {
  height: 60px;
  border: 1px solid #ccc;
}

.ADate {
  height: 100%;
  width: 300px;
  margin-left: 60px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5
}

.ADate input {
  height: 60px;
  border: 1px solid #ccc;
}

.LS {
  height: 60px;
  width: 100%;
  display: flex;
  /* border: 1px solid #ccc; */
  align-items: center;
  margin-top: 15px;
  margin-top: 30px;
}

.Lunit {
  margin-top: 15px;
  height: 30px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ccc; */
  color: #84bcf3;
  font-size: 14px;
}

.LSU{
  height: 100%;
  width: 300px;
  margin-left: 195px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5
}

.LSU input{
  height: 60px;
  border: 1px solid #ccc;
}


.PD{
  margin-top: 30px;
  height: 50px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.PD span{
  font-size: 14px;
  margin-left: 20px;
}


.SP{
  display: flex;
}

.Sbalance {
  height: 50px;
  width: 300px;
  /* border : 1px solid #ccc; */
  border-radius: 3px;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-left: 20px;
}

.Sbal {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  /* margin-left: 3%; */
  cursor: pointer;
}



.Sbal input {
  border: 1px solid #ccc;
  text-decoration: none;
  height: 100%;
  width: 50%;
  font-size: 16px;
}


.Sbal select {
  border: 1px solid #ccc;
  text-decoration: none;
  height: 100%;
  width: 50%;
  font-size: 14px;
}

.Pbalance {
  height: 50px;
  width: 300px;
  /* border : 1px solid #ccc; */
  border-radius: 3px;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-left: 60px;
}



.Pbal {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  /* margin-left: 3%; */
  cursor: pointer;
}



.Pbal input {
  border: 1px solid #ccc;
  text-decoration: none;
  height: 100%;
  width: 50%;
  font-size: 16px;
}


.Pbal select {
  border: 1px solid #ccc;
  text-decoration: none;
  height: 100%;
  width: 50%;
  font-size: 14px;
}



.tax {
  height: 60px;
  width: 100%;
  display: flex;
  /* border: 1px solid #ccc; */
  align-items: center;
  
  margin-top: 30px;
}  

.HC {
  height: 100%;
  width: 300px;
  margin-left: 20px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5
}

.HC input {
  height: 60px;
  border: 1px solid #ccc;
}


.Gst {
  height: 100%;
  width: 300px;
  margin-left: 60px;
  font-size: 14px;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  color: #a2a4a5;
  
}  

.Gst select {
  height: 40px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
}  

